@import "tailwindcss";

:root {
  --background: #fdfaf9; 
  --foreground: #2b2624;  
  --primary: #df874d;     
  --secondary: #3e3431;  
}

@font-face {
  font-family: 'TASA Explorer';
  src: url('/fonts/TASA.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: 'TASA Explorer', sans-serif;
  --font-mono: var(--font-geist-mono);

  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
